/* Utils */
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.card {
    border-radius: $borderRadius;
    background: $cardBg;
    padding: 1.25rem;
    border: $cardBorder;
    margin-bottom: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }

    .card-header {
        @include flex();
        @include flex-align-center();
        @include flex-justify-between();
    }

    .card-subtitle {
        color: $textSecondaryColor;
        font-weight: 600;
        margin: -1rem 0 1rem 0;
    }
}

.nopad {
    padding: 0;
    
    .ui-panel-content {
        padding: 0;
    }
}

.ui-g {
    -ms-flex-wrap: wrap;
}

.p-sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.ui-text-secondary {
    color: $textSecondaryColor;
}