$primaryColor: #9575CD;
$primaryLightColor: scale-color($primaryColor, $lightness: 30%);
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%);
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%);
$primaryTextColor: #ffffff;

@import '../sass/theme/_theme_dark';